.img {
  height: auto;
  width: 250px !important;
}

.dados {
  bottom: 1px;
  height: 110px;
  width: 100%
}

.onmousehover:hover {
  background-color: rgb(39, 243, 39) !important;
  height: 120px !important;

}
